.about__list {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
    padding: 30px 0 0px;
    margin: 0;
}

.about__description {
    max-width: 1400px;
    margin: 0 auto;
    border: 10px #395036;
    border-style: ridge;
    padding: 20px 0;
    background-color: #eeeeee96;
}

.about__name {
    text-align: center;
    margin: 0;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    padding: 10px 0;
    width: 200px;
}

.about__name-title {
    text-align: center;
    margin: 0;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    padding: 0;
    width: 200px;
    color: #395036;
}

.about__title {
    font-weight: 900;
    font-size: 45px;
    text-align: center;
    color: #395036;
    margin: 0 auto;
    border-radius: 10px;
    width: 380px;
    padding: 15px 0;
}

.about-title {
    text-decoration: none;
}


.about {
    margin: 0 auto;
    background-color: #ffffff;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 15px;
}


.about__link {
    text-decoration: none;
}

.img_about {
    width: 200px;
    height: 200px;
}



@media(max-width: 1500px) {

    .about__description {
        max-width: 1300px;
    }

    .img_about {
        width: 200px;
        height: 200px;
        margin: 0 0 0 20px;
    }
}

@media(max-width: 1400px) {

    .about__description {
        max-width: 1250px;
    }
}

@media(max-width: 1350px) {

    .about__description {
        max-width: 1200px;
    }
}

@media(max-width: 1280px) {
    .img_about {
        margin: 0 10px 0 0px;
    }

    .about__description {
        max-width: 1120px;
    }

}

@media(max-width: 1220px) {

    .about__description {
        max-width: 1070px;
        padding-bottom: 10px;
    }
}

@media(max-width: 1150px) {
    .about__description {
        max-width: 1000px;
    }

}

@media(max-width: 1050px) {

    .about__description {
        max-width: 890px;
    }

    .about {
        padding-bottom: 15px;
        padding-top: 15px;
    }
}

@media(max-width: 1000px) {

    .about__description {
        max-width: 840px;
    }

    .about__list {
        gap: 50px;
    }
}

@media(max-width: 870px) {
    .about__description {
        max-width: 750px;
    }

    .about__list {
        gap: 10px;
        width: 750px;
    }
}

@media(max-width: 830px) {
    .about__description {
        max-width: 720px;
    }
}

@media(max-width: 800px) {
    .img_about {
        width: 150px;
        height: 150px;
        margin: 0 0 0 30px;
    }
}


@media(max-width: 740px) {
    .about__description {
        max-width: 650px;
    }

    .about__list {
        gap: 10px;
        width: 650px;
    }
}

@media(max-width: 680px) {
    .about__list {
        display: flex;
        flex-direction: column;
    }

    .about__link {
        display: flex;
        flex-direction: row;
    }

    .about__name-title {
        align-items: center;
        display: flex;
    }

    .about__name {
        padding: 0;
        width: 250px;
        align-items: center;
        display: flex;
    }

    .img_about {
        align-items: center;
        display: flex;
        margin: 0 0 0 10px;
    }

    .about__description {
        max-width: 600px;
    }

    .about__list {
        gap: 10px;
        width: 600px;
    }
}

@media(max-width: 650px) {
    .about__description {
        max-width: 550px;

    }

    .about__link {
        gap: 5px;
    }

    .about__list {
        width: 550px;
    }

    .about {
        padding-bottom: 40px;
    }
}

@media(max-width: 570px) {
    .about__description {
        max-width: 500px;
    }

    .about__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0px 0 10px;
        width: 450px;
        margin: 0 auto;
    }


    .about__link {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .img_about {
        width: 150px;
        height: 150px;
        margin: 0 0 0 60px;
    }

    .about__name-title {
        width: 250px;
        margin-left: 20px;
    }
}

@media(max-width: 530px) {
    .about__description {
        max-width: 450px;
    }

    .about__list {
        width: 400px;
        gap: 30px;
    }

    .about {
        padding-bottom: 20px;
    }
}

@media(max-width: 480px) {
    .about__description {
        max-width: 400px;
    }

    .about {
        padding-top: 5px;
    }
}

@media(max-width: 440px) {
    .about__description {
        max-width: 350px;
    }

    .about__title {
        width: 300px;
    }

    .about__name {
        width: 250px;
    }

    .about__list {
        width: 300px;
    }
}

@media(max-width: 390px) {
    .about__description {
        max-width: 320px;
        padding: 10px 0 0px;
    }

    .about__list {
        width: 320px;
        padding: 10px 0 20px;
        gap: 20px;
    }

    .about__title {
        font-size: 25px;
        line-height: 30px;
        width: 300px;
        padding: 10px 0;
    }

    .about__name-title {
        width: 200px;
        margin-left: 30px;
    }

    .about__name {
        font-size: 15px;
        margin-left: 0px;
        padding: 5px 0;
        width: 250px;
    }

    .img_about {
        width: 100px;
        height: 100px;
        margin: 0 0 0 80px;
    }

}

@media(max-width: 335px) {
    .about__description {
        max-width: 295px;
    }

    .about__list {
        width: 290px;
    }

    .about__name {
        width: 250px;
        margin-left: 0px;
    }
}