.portfolionav__link {
    text-decoration: none;
    color: #140800;
    position: relative;
    align-items: center;
    height: 50px;
    display: flex;
    background-size: cover;
    border-radius: 10px;
    width: 180px;
    justify-content: center;
    border: 2px solid #395036;
}

.portfolionav__link:hover {
    opacity: 0.7;
}

.portfolionav__menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    max-width: 570px;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 25px;
    align-items: center;
    height: 100%;
    margin: 20px auto;
}

.active {
    background-image: none;
    color: rgb(0, 0, 0);
    border-radius: 0px;
    border: none;
    border-bottom: 3px solid rgb(0, 0, 0);
    padding-bottom: 0px;
}

@media(max-width: 1280px) {

    .portfolionav__link {
        height: 50px;
    }
}

@media(max-width: 790px) {
    .portfolionav__menu {
        max-width: 570px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .portfolionav__link {
        height: 40px;
    }
}

@media(max-width: 600px) {
    .portfolionav__menu {
        max-width: 510px;
        font-size: 18px;
    }

    .portfolionav__link {
        height: 40px;
        width: 160px;

    }
}

@media(max-width: 530px) {
    .portfolionav__menu {
        display: flex;
        flex-direction: column;
    }

    .portfolionav__link {
        height: 30px;
        width: 160px;
    }
}

@media(max-width: 440px) {
    .portfolionav__menu {
        font-size: 18px;
        line-height: 20px;
    }

    .portfolionav__link {
        height: 30px;
    }
}