.image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
    align-items: center;
    display: flex;
}

.elements__card {
    list-style: none;
    width: 300px;
    border: 2px solid #395036;
    border-radius: 10px;
}

.elements__description {
    width: 280px;
    margin: 0 auto;
}

.elements__characteristic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card__text {
    margin: 0 0 10px 0;
    font-size: 17px;
    font-weight: 900;

}

.card__characteristic {
    margin: 0 0 10px 0;
    font-size: 17px;
    font-weight: 900;

}

.card__button {
    border-radius: 7px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 900;
    margin: 10px auto;
    align-items: center;
    display: flex;
    background-color: #2BE080;
    cursor: pointer;
}

.card__button:hover {
    box-shadow: 0px 5px 40px 20px rgb(66, 255, 15);
    transition: opacity 0.9s;
}

@media(max-width: 1000px) {
    .image {
        width: 150px;
        height: 150px;
    }

    .elements__card {
        width: 250px;
    }

    .elements__description {
        width: 230px;
    }

    .card__text {
        font-size: 15px;
    }

    .card__characteristic {
        font-size: 15px;
    }

    .card__button {
        line-height: 25px;
        font-size: 16px;
    }
}