h3 {
    text-align: center;
}

.calculator__input {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 20px;
    height: 20px;
}

.calculator-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    list-style: none;
    width: 900px;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    gap: 20px;
}

.image_2 {
    width: 200px;
    height: 200px;
}

.topping {
    margin-top: 0.3rem;
    vertical-align: text-bottom;
}

.result {
    margin-top: 1rem;
}

.total {
    width: 30%;
    margin: 0 auto;
}

.toppings-list li {
    margin-bottom: 0.5rem;
}

.toppings-list-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border: 2px solid #395036;
    border-radius: 10px;
    position: relative;
}

.toppings-list li:last-child {
    border-top: 1px solid #ccc;
    margin-top: 1rem;
    padding-top: 1rem;
}

.toppings-list-item label {
    vertical-align: text-bottom;
    margin-left: 0.2rem;
}

.total {
    margin-top: 1rem;
}

.right-section {
    margin-top: 10px;
}

.left-section {
    text-align: center;
    font-size: 16px;
    font-weight: 900;
}

.total-list-item {
    font-size: 20px;
    border: 5px solid #ff0000;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 30px auto;
}

.total-section {
    font-size: 20px;

}

.calculator__button {
    border-radius: 7px;
    line-height: 30px;
    font-size: 22px;
    font-weight: 900;
    margin: 10px auto;
    align-items: center;
    display: flex;
    background-color: #00990F;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: none;
}

.calculator__button:hover {
    box-shadow: 0px 5px 40px 20px rgb(66, 255, 15);
    transition: opacity 0.9s;
}

@media screen and (max-width: 950px) {
    .image_2 {
        width: 150px;
        height: 150px;
    }

    .calculator-list {
        width: 600px;
    }

    .toppings-list-item {
        height: 220px;
    }

    .left-section {
        font-size: 15px;
    }

    .calculator__input {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 620px) {

    .calculator-list {
        width: 430px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

}

@media screen and (max-width: 450px) {

    .calculator-list {
        width: 200px;
        display: flex;
        flex-direction: column;
    }

    .toppings-list-item {
        height: 220px;
        width: 200px;
    }

    .total-list-item {
        font-size: 15px;
        border: 5px solid #ff0000;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        margin: 20px auto;
    }

    .total-section {
        font-size: 18px;
    }

}