.nav-menu__menu-adapt {
    height: 44px;
    width: 44px;
    background-image: url(../../images/menu.svg);
    cursor: pointer;
    display: none;
    position: relative;
    opacity: 0.8;
}

.nav-menu__menu-adapt:hover {
    opacity: 1.0;
}

.nav__menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 25px;
    align-items: center;
    height: 70px;
}

.nav__link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 50px;
    position: relative;
    align-items: center;
    height: 50%;
    display: flex;
}

.nav__link:hover {
    opacity: 0.8;
    padding-bottom: 10px;
    font-size: 23px;
}


.active {
    border: 2px solid;
}

.menu_icon {
    width: 15px;
    padding-top: 0px;
    padding-right: 5px;
}


@media screen and (max-width: 1280px) {
    .nav__link {
        margin-right: 40px;
    }

}

@media screen and (max-width: 1100px) {
    .nav__menu {
        height: 50px;
    }
}

@media screen and (max-width: 1060px) {

    .nav__link {
        margin-right: 30px;
    }

}

@media screen and (max-width: 1024px) {
    .nav__link {
        margin-right: 10px;
    }

}

@media screen and (max-width: 900px) {
    .nav__link {
        margin-right: 20px;
    }

    .nav__menu {
        font-size: 17px;
        line-height: 20px;
        height: 40px
    }

    .menu_icon {
        width: 12px;
        padding-right: 3px;
    }

    .nav__link:hover {
        font-size: 20px;
    }


}

@media screen and (max-width: 800px) {
    .nav__link {
        margin-right: 15px;
    }

}


@media screen and (max-width: 768px) {
    .nav__link {
        margin-right: 20px;
    }

    .nav__menu {
        font-size: 15px;
        line-height: 18px;
    }

    .menu_icon {
        width: 12px;
        padding-right: 3px;
    }

    .nav__link:hover {
        font-size: 18px;
    }

}

@media screen and (max-width: 700px) {

    .nav__link {
        margin-right: 10px;
    }
}

@media screen and (max-width: 650px) {
    .nav__link {
        margin-right: 10px;
    }

    .nav__menu {
        font-size: 15px;
        line-height: 18px;
    }

    .menu_icon {
        padding-right: 2px;
    }
}

@media screen and (max-width: 600px) {
    .nav-menu__menu-adapt {
        display: block;
    }

    .nav__menu {
        display: none;
    }
}

@media screen and (max-width: 320px) {

    .nav-menu__menu-adapt {
        width: 40px;
        height: 43px;
        background-size: contain;
        background-position: center;
    }
}